.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: #13131366;
}
.modalContent{
    position: fixed;
    top: 30vh;
    margin-left: 50%;    
    transform: translate(-50%, 0%);
    z-index: 2;
    width: 391px;
    height:max-content;
    padding: 44px;
    border-radius: 40px;
    background: #FFFFFF;
    animation: show 0.5s ease;
}
.resetModal{
    position: fixed;
    top: 10vh;
    margin-left: 50%;    
    transform: translate(-50%, 0%);
    z-index: 2;
    width: 565px;
    height:max-content;
    padding: 44px 16px 44px 16px;
    border-radius: 40px;
    background: #FFFFFF;
    animation: show 0.5s ease;
}
.productModal{
    position: fixed;
    top: 15vh;
    margin-left: 50%;    
    transform: translate(-50%, 0%);
    z-index: 2;
    width: 564px;
    height:max-content;
    padding: 16px 16px 44px 16px;
    border-radius: 30px;
    background: #FFFFFF;
    animation: show 0.5s ease;
}

@keyframes show {
    from{
        top: 10vh;
        opacity: 0;
    }
    to{
        top: 15vh;
        opacity: 1;
    }    
}