.auth{
    display: flex;
    align-items: center;
    gap: 192px;
}
.regAuth{
    display: flex;
    gap: 42px;
}
.nav{
 margin-top: 29px;
}
.marketCover{
    width: 720px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blur{
    width: 720px;
    height: 100vh;
    position: absolute;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}
.marketLogo{
    z-index: 1;
}
.marketIcon{
    user-select: none;
    pointer-events: none;
    width: 200px;
    height: 200px;
}
.marketTitle{
    font-family: Nunito, sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    user-select: none ;
}
.form{
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 183px;
}
.block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 47px;
}
.passwordInput{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.recoveryText{
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    color: #5458EA;
    user-select: none;
    cursor: pointer;
}
.registerText{
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #5458EA;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
}

.formPassword{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    user-select: none;
    margin-top: 100px;
}
.password{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    user-select: none;
}
.titleBlock{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 87px;
    width: 565px;
    margin-right: 140px;
}
.newPassword{
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #494949;
}
.showIcon{
 padding: 2px 10px 2px 10px;
 background: #C0C0C033;
 border-radius: 50px;
}
.newPasswordText{
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: center;
    color: #494949;
}
.rules{
    width: 300px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    color: #C0C0C0;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 20px;
}
.errorText{
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.23999999463558197px;
    text-align: center;
    color: #F34545;
}
.nextButton{
    margin-top: 50px;
}