.authInput{
    width: 335px;
    height: 25px;
    padding: 10px, 0px, 10px, 0px;
    border: none;
    outline: none;
    border-bottom: 0.5px solid rgba(192, 192, 192, 1);
    color: rgba(192, 192, 192, 1);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(73, 73, 73, 1);
}
.authInputError{
    width: 335px;
    height: 25px;
    padding: 10px, 0px, 10px, 0px;
    border: none;
    outline: none;
    border-bottom: 0.5px solid rgba(243, 69, 69, 1);
    color: rgba(192, 192, 192, 1);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(243, 69, 69, 1);
    ~label{
        color: rgba(243, 69, 69, 1);
    }
}
.label{
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(192, 192, 192, 1);
    position: absolute;
    left: 0;
    transition: 0.3s;
}
input:focus ~ label, input:valid ~ label{
    transform: translateY(-20px);
    font-size: 14px;
}
.showPasswordIcon{
    width: 20px;
    position: absolute;
    left: 0;
    margin-left: 315px;
    cursor: pointer;
    user-select: none;
}
.number{
    font-family: Inter, sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.36000001430511475px;
    color: rgba(73, 73, 73, 1);
    position: absolute;
    pointer-events: none;
}
.numberInput{
    font-family: Inter, sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.36000001430511475px;
    color: rgba(73, 73, 73, 1);
    border: none;
    outline: none;
    &::placeholder{
        color: rgba(192, 192, 192, 1);
    } 
}

.verificationInput{
    font-family: Inter, sans-serif;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.36000001430511475px;
    color: rgba(73, 73, 73, 1);
    border: none;
    outline: none;
    letter-spacing: 8px;
    &::placeholder{
        letter-spacing: 8px;
        color: rgba(192, 192, 192, 1);
    }
}
.overviewInput{
    width: 532px;
    height: 40px;
    padding: 10px 16px 10px 16px;
    border: none;
    outline: none;
    border-radius: 12px;
    background: rgba(247, 246, 249, 1);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(73, 73, 73, 1);
    resize: none;
    overflow: hidden;
    &::placeholder{
        color: rgba(192, 192, 192, 1);
    }
}
.overviewTextarea{
    width: 532px;
    height: 40px;
    word-wrap: break-word;
    padding: 10px 16px 10px 16px;
    border: none;
    outline: none;
    border-radius: 12px;
    background: rgba(247, 246, 249, 1);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(73, 73, 73, 1);
    overflow: hidden;
    resize: none;
    &::placeholder{
        color: rgba(192, 192, 192, 1);
    }
}