.authInput{
    width: 335px;
    height: 25px;
    padding: 10px, 0px, 10px, 0px;
    border: none;
    outline: none;
    border-bottom: 0.5px solid rgba(192, 192, 192, 1);
    color: rgba(192, 192, 192, 1);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(73, 73, 73, 1);
}
.authInputError{
    width: 335px;
    height: 25px;
    padding: 10px, 0px, 10px, 0px;
    border: none;
    outline: none;
    border-bottom: 0.5px solid rgba(243, 69, 69, 1);
    color: rgba(192, 192, 192, 1);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(243, 69, 69, 1);
    ~label{
        color: rgba(243, 69, 69, 1);
    }
}
.inputBlock{
    display: flex;
    flex-direction: column;
}
.label{
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    color: rgba(192, 192, 192, 1);
    transition: 0.3s;
    position: absolute;
    pointer-events: none;
}
input:focus ~ label, input:valid ~ label{
    transform: translateY(-20px);
    font-size: 14px;
}
.showPasswordIcon{
    width: 20px;
    position: absolute;
    margin-left: 315px;
    cursor: pointer;
    user-select: none;
}
.numberInput{
    font-family: Inter, sans-serif;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.36000001430511475px;
    color: rgba(73, 73, 73, 1);
    border: none;
    outline: none;
    user-select: none;
    &::placeholder{
        color: rgba(192, 192, 192, 1);
    } 
}
.numberInputProfile{
    width: 130px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.36000001430511475px;
    color: rgba(73, 73, 73, 1);
    border: none;
    outline: none;
    user-select: none;
    &::placeholder{
        color: rgba(192, 192, 192, 1);
    } 
}

.verificationInput{
    width: 120px;
    font-family: Inter, sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: rgba(73, 73, 73, 1);
    border: none;
    outline: none;
    letter-spacing: 10px;
    &::placeholder{
        letter-spacing: 10px;
        color: rgba(192, 192, 192, 1);
    }
}
.overviewInput{
    width: 532px;
    height: 40px;
    padding: 10px 16px 10px 16px;
    border: none;
    outline: none;
    border-radius: 12px;
    background: rgba(247, 246, 249, 1);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(73, 73, 73, 1);
    resize: none;
    overflow: hidden;
    &::placeholder{
        color: rgba(192, 192, 192, 1);
    }
}
.profileInput{
    width: 620px;
    border: none;
    outline: none;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.40799999237060547px;
    text-align: left;
    padding: 4px 0px 4px 0px;
    user-select: none;
    cursor: text;
    color: #000000;
    &::placeholder{
     color: #C0C0C0;
    }

}
.overviewTextarea{
    width: 532px;
    height: 40px;
    word-wrap: break-word;
    padding: 10px 16px 10px 16px;
    border: none;
    outline: none;
    border-radius: 12px;
    background: rgba(247, 246, 249, 1);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(73, 73, 73, 1);
    overflow: hidden;
    resize: none;
    &::placeholder{
        color: rgba(192, 192, 192, 1);
    }
}